.account-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  .account-left,
  .account-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .account-left {
    background-color: #ececec;
  }
}