<div class="container" style="padding-top: 20px; width: 85%; ">



    <form [formGroup]="productUpdateForm">
        <h4>Güncellenecek Ürünü Seçiniz</h4>
        <div class="form-floating">
            <select [(ngModel)]="productFilter" class="form-select" id="securityCameraSystemId" formControlName="securityCameraSystemId"
                aria-label="Floating label select example">
                <option *ngFor="let securityCameraSystem of securityCameraSystems"
                 [value]="securityCameraSystem.securityCameraSystemId"
                   
                    selected="{{getSelectedProduct(securityCameraSystem.securityCameraSystemId)}}">
                    {{securityCameraSystem.cameraName}}</option>
            </select>
            <label for="floatingSelect">Güncellenecek Ürünü Seçiniz</label>
        </div>
        <h4 style="padding-top: 10px;">Ürünün Adı</h4>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="cameraName" placeholder="product name"
                formControlName="cameraName" />
            <label for="floatingInput">Ürünün Adı</label>
        </div>

        <h4 style="padding-top: 10px;">Ürünün Fiyatı</h4>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="price" placeholder="product price" formControlName="price" />
            <label for="floatingInput">Ürünün Fiyatı</label>
        </div>

        <h4 style="padding-top: 10px;">Ürünün Eski Fiyatı</h4>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="oldPrice" placeholder="product oldPrice"
                formControlName="oldPrice" />
            <label for="floatingInput">Ürünün Eski Fiyatı</label>
        </div>

        <h4 style="padding-top: 10px;">Ürünün Stok Sayısı</h4>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="stockQuantity" placeholder="product stockQuantity"
                formControlName="stockQuantity" />
            <label for="floatingInput">Ürünün Stok Sayısı</label>
        </div>

       <h4 style="padding-top: 10px;">Ürünün Açıklaması</h4>
        <div class="form-floating mb-3">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="description"  allowedContent="true">Ürünün Açıklaması</textarea>
        </div>

        <h4 style="padding-top: 10px;">Ürünün Kısa Açıklaması</h4>
        <div class="form-floating mb-3">
            <!-- <ckeditor  [editor]="Editor" [config]="editorConfig" name="editor1" data="config.allowedContent=true"  formControlName="quickDescription"  config.allowedContent="true"  ></ckeditor> -->
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="quickDescription"  ></textarea>
        </div>

        <h4 style="padding-top: 10px;">Özellikler</h4>
        <div class="form-floating mb-3">
            <!-- <ckeditor [editor]="Editor" [config]="editorConfig" formControlName="features" ></ckeditor> -->
             <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="features" ></textarea>
        </div>

    </form>
    <div style="margin-top: 5%;" class="d-grid gap-2 col-6 mx-auto" >
        <button style="width: 80%; margin-left: 9%; " type="button" (click)="update()"  routerLink="/dashboard" class="btn btn-success btn-lg">Güncelle</button>
    </div>

</div>



