 <div class="footer">
	    	<div class="container">
		    	<div class="row">
		    		
		    		<div class="col-footer col-md-4 col-xs-6">
		    			<h3>İletişim</h3>
		    			<p class="contact-us-details" style="font-size: 15px;">
	        				<b>Address:</b> 123 Fake Street, LN1 2ST, London, United Kingdom <br/>
	        				<b>Phone:</b> +44 123 654321<br/>
	        				<b>Fax:</b> +44 123 654321<br/>
	        				<b>Email:</b> <a href="mailto:getintoutch@yourcompanydomain.com">getintoutch@yourcompanydomain.com</a>
	        			</p>
		    		</div>
		    		<div class="col-footer col-md-2 col-xs-6">
		    			<h3 style="margin-left: 150px; width: 250px;">Sosyal Medya</h3>
		    			<ul class="footer-stay-connected no-list-style">
		    				<li><a href="#" class="facebook"></a></li>
		    				<li><a href="#" class="twitter"></a></li>
		    				<li><a href="#" class="googleplus"></a></li>
		    			</ul>
		    		</div>
		    	</div>
		    	<div class="row">
		    		<div class="col-md-12">
		    			<div><h6 style="margin-left: 25%;">&copy; 2021 Kaynarca Bilişim. Tüm hakları saklıdır.</h6></div>
		    		</div>
		    	</div>
		    </div>
	    </div>