 <div class="footer">
<div class="container" style="text-align: center;">
		    	<div class="row">
		    		<div >
		    			
		    			<div >
							<div>
								
							</div>
						</div>
		    		</div>
		    		<div class="col-footer col-md-3 col-xs-6" style="margin-left: 5%;">
		    			<ul class="no-list-style footer-navigate-section">
		    			</ul>
		    		</div>
		    		
		    		
		    		<div class="col-footer col-md-4 col-xs-6">
		    			<h1>İletişim</h1>
		    			<h4><p class="contact-us-details">
	        				<b>Addres:</b> Fevzi Çakmak Mah, Bediüzzaman Cad, No:24/8, Pendik/İstanbul<br/>
	        				<b>Telefon:</b> 0212 397 16 17<br/>
							<b>Telefon:</b> 0534 687 91 78<br/>
							<b>Telefon:</b> 0507 924 06 78<br/>
	        				<b>Email:</b> <a href="mailto:kaynarcakirtasiye@gmail.com">getintoutch@yourcompanydomain.com</a>
	        			</p></h4><br>
		    		</div>

					<div class="col-footer col-md-3 col-xs-6">
		    			<ul class="no-list-style footer-navigate-section">
		    			</ul>
		    		</div>
		    	</div>
		    	<div class="row">
		    		<div class="col-md-12">
		    			<div class="footer-copyright">&copy; 2021 Kaynarca Bilişim. Tüm hakları saklıdır.</div>
		    		</div>
		    	</div>
		    </div>
	    </div>