
<link rel="icon" type="/src/assets/icons/add.png" href="favicon.ico">

<h2 style="padding-top: 10%;">OFİS & KORTASİYE ÜRÜNLERİ --------------- GÜVENLİK KAMERA SİSTEMLERİ
--------------- GÖRÜNTÜLÜ DİAFON SİSTEMLERİ</h2>
  <div class="section">
	    	<div class="container">
				<div class="row">

					<div class="col-md-4 col-sm-6">
						<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="page-portfolio-item.html"><img src="assets/icons/add.png" alt="Project Name"></a>
							</div>
							<div routerLink="office-material-add" class="portfolio-info-fade">
								<ul>
									<li class="portfolio-project-name">OFİS & KORTASİYE ÜRÜNLERİ</li>
									<li>EKLE</li>							
								</ul>
							</div>
						</div>
					</div>

          <div class="col-md-4 col-sm-6">
						<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="page-portfolio-item.html"><img src="assets/icons/add.png" alt="Project Name"></a>
							</div>
							<div routerLink="security-camera-add" class="portfolio-info-fade">
								<ul>
									<li class="portfolio-project-name">GÜVENLİK KAMERA SİSTEMLERİ</li>
									<li>EKLE</li>
								</ul>
							</div>
						</div>
					</div>

           <div class="col-md-4 col-sm-6">
						<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="page-portfolio-item.html"><img src="assets/icons/add.png" alt="Project Name"></a>
							</div>
							<div routerLink="video-entryphone-add" class="portfolio-info-fade">
								<ul>
									<li class="portfolio-project-name">GÖRÜNTÜLÜ DİAFON SİSTEMLERİ</li>
									<li>EKLE</li>
								</ul>
							</div>
						</div>
					</div>
          

          <div class="col-md-4 col-sm-6">
						<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="page-portfolio-item.html"><img src="assets/icons/edit.png" alt="Project Name"></a>
							</div>
							<div routerLink="office-material-update" class="portfolio-info-fade">
								<ul>
									<li class="portfolio-project-name">OFİS & KORTASİYE ÜRÜNLERİ</li>
									<li>GÜNCELLE</li>							
								</ul>
							</div>
						</div>
					</div>
					
           <div class="col-md-4 col-sm-6">
						<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="page-portfolio-item.html"><img src="assets/icons/edit.png" alt="Project Name"></a>
							</div>
							<div routerLink="security-camera-update" class="portfolio-info-fade">
								<ul>
									<li class="portfolio-project-name">GÜVENLİK KAMERA SİSTEMLERİ</li>
									<li>GÜNCELLE</li>
								</ul>
							</div>
						</div>
					</div>

          <div class="col-md-4 col-sm-6">
						<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="page-portfolio-item.html"><img src="assets/icons/edit.png" alt="Project Name"></a>
							</div>
							<div routerLink="video-entryphone-update" class="portfolio-info-fade">
								<ul>
									<li class="portfolio-project-name">GÖRÜNTÜLÜ DİAFON SİSTEMLERİ</li>
									<li>GÜNCELLE</li>
								</ul>
							</div>
						</div>
					</div>

          
          <div class="col-md-4 col-sm-6">
						<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="page-portfolio-item.html"><img src="assets/icons/delete.png" alt="Project Name"></a>
							</div>
							<div routerLink="office-material-delete" class="portfolio-info-fade">
								<ul>
									<li class="portfolio-project-name">OFİS & KORTASİYE ÜRÜNLERİ</li>
									<li>SİL</li>							
								</ul>
							</div>
						</div>
					</div>

             <div class="col-md-4 col-sm-6">
						<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="page-portfolio-item.html"><img src="assets/icons/delete.png" alt="Project Name"></a>
							</div>
							<div routerLink="security-camera-delete" class="portfolio-info-fade">
								<ul>
									<li class="portfolio-project-name">GÜVENLİK KAMERA SİSTEMLERİ</li>
									<li>SİL</li>
								</ul>
							</div>
						</div>
					</div>

                <div class="col-md-4 col-sm-6">
						<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="page-portfolio-item.html"><img src="assets/icons/delete.png" alt="Project Name"></a>
							</div>
							<div routerLink="video-entryphone-delete" class="portfolio-info-fade">
								<ul>
									<li class="portfolio-project-name">GÖRÜNTÜLÜ DİAFON SİSTEMLERİ</li>
									<li>SİL</li>
								</ul>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

	    <!-- Footer -->