<!-- Page Title -->
  <header>
    <app-navi></app-navi>
  </header>
<div class="section">
    <div class="container">
        <div class="row">
            <!-- Product Image & Available Colors -->
            <div class="col-sm-6">
                <div *ngFor="let videoEntryphoneSystem of videoEntryphoneSystems" class="product-image-large">
                    <img src="{{imageBasePath}}{{videoEntryphoneSystem.imagePath[0].imagePath}}" alt="Item Name" />
                </div>
                <div class="colors">
                    <span class="color-white"></span>
                    <span class="color-black"></span>
                    <span class="color-blue"></span>
                    <span class="color-orange"></span>
                    <span class="color-green"></span>
                </div>
            </div>
            <!-- End Product Image & Available Colors -->
            <!-- Product Summary & Options -->
            <div *ngFor="let videoEntryphoneSystem of videoEntryphoneSystems" class="col-sm-6 product-details">
                <h1 style="width: 45px; width: 70%;">{{ videoEntryphoneSystem.videoName }}</h1>
                <div class="price"><span class="price-was">{{ videoEntryphoneSystem.oldPrice }} ₺</span> {{ videoEntryphoneSystem.price }} ₺</div>
                
                 <h5>
                    {{ videoEntryphoneSystem.quickDescription }}
                </h5>
                <table class="shop-item-selections">
                    <!-- Quantity -->
                    <tr>


                        <div>
                            <td style="width: 70px;"> <label for="stockQuantity">
                                    <h5 style="color: grey;">Stok Sayısı:</h5>
                                </label></td>
                            <td *ngFor="let videoEntryphoneSystem of videoEntryphoneSystems">
                                <h5 style="color: gray;"> {{ videoEntryphoneSystem.stockQuantity }}</h5>
                            </td>
                        </div>
                    </tr>
                    <!-- Add to Cart Button -->
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <button type="button" class="btn btn-outline-success" 
                            style="width: 50%; font-size: 16px;"
                            (click)="openModal('custom-modal-1')">
                                Satın Al</button>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- End Product Summary & Options -->

            <!-- Full Description & Specification -->
            <div *ngFor="let videoEntryphoneSystem of videoEntryphoneSystems" class="col-sm-12">
                <div class="tabbable">
                    <!-- Tabs -->
                    <ul class="nav nav-tabs product-details-nav">
                        <li class="active">
                            <a href="#tab1" data-toggle="tab">Açıklama</a>
                        </li>
                        <li><a href="#tab2" data-toggle="tab">Şartname</a></li>
                    </ul>
                    <!-- Tab Content (Full Description) -->
                    <div class="tab-content product-detail-info">
                        <div class="tab-pane active" id="tab1">
                            <h3>Ürün Bilgileri</h3>
                            <h4>
                                {{ videoEntryphoneSystem.description }}
                            </h4><br>
                            <h3>Ürün Özellikleri</h3>
                            <ul style="font-size: 15px;">
                                <li>
                                     {{ videoEntryphoneSystem.features }}
                                </li>
                            </ul>
                            
                        </div>
                        <!-- Tab Content (Specification) -->
                        <div class="tab-pane" id="tab2">
                            <table>
                            </table>
                               
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Full Description & Specification -->
        </div>
    </div>
</div>
<jw-modal id="custom-modal-1">
    <h1>Şu anda online satış yapamaktayız. Sipariş için lütfen arayınız 0216 924 0678</h1>
    <button (click)="closeModal('custom-modal-1');">Tamam</button>
</jw-modal>
<app-footer></app-footer>