  <header>
    <app-navi></app-navi>
  </header>

<div class="cd-hero" 
style="background-image:url('https://i.pinimg.com/originals/4f/84/07/4f8407fc10c9f978d4d959768a2795ef.jpg');
background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;">
    <ul class="cd-hero-slider">
        <!-- autoplay -->
        <li class="selected" *ngFor="let tonerRefill of tonerRefills">
            <div class="cd-full-width">
                <div class="container js-tm-page-content tm-page-1 tm-section-margin-t-small" data-page-no="1">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="tm-home-container-outer">
                                <div class="tm-home-container">
                                    <div class="tm-home-title-container">
                                        <h2 class="tm-text-title text-xs-center tm-home-title"
                                         style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                         font-size: 40px;">Toner Dolum</h2>
                                    </div>
                                    <div class="tm-home-description-container tm-bg-dark-blue">
                                        <div class="text-xs-left tm-textbox">
                                            <p class="tm-text tm-home-description">{{tonerRefill.description}}</p> 
                                        </div>
                                    </div>
                                </div>
                                <div class="tm-home-container-bg"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- .cd-full-width -->
        </li>
    </ul>
</div>
<app-footer></app-footer>