<div class="container" style="padding-top: 20px;">
    <form [formGroup]="productAddForm">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="cameraName" placeholder="product name"
                formControlName="cameraName" />
            <label for="floatingInput">Ürün Adı</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="price" placeholder="product price" formControlName="price" />
            <label for="floatingInput">Fiyat</label>
        </div>

       <h4 style="padding-top: 10px;">Ürünün Eski Fiyatı</h4>
        <div class="form-floating mb-3">
            <input type="number" class="form-control" id="oldPrice" placeholder="product oldPrice"
                formControlName="oldPrice"  readonly>
            <label for="floatingInput">Eski Fiyat</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="stockQuantity" placeholder="product stockQuantity"
                formControlName="stockQuantity" />
            <label for="floatingInput">Stok Sayısı</label>
        </div>

         <h4 style="padding-top: 10px;">Ürünün Açıklaması</h4>
        <div class="form-floating mb-3">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"  formControlName="description"  allowedContent="true">Ürünün Açıklaması</textarea>
        </div>

        <h4 style="padding-top: 10px;">Ürünün Kısa Açıklaması</h4>
        <div class="form-floating mb-3">
            <!-- <ckeditor  [editor]="Editor" [config]="editorConfig" name="editor1" data="config.allowedContent=true"  formControlName="quickDescription"  config.allowedContent="true"  ></ckeditor> -->
             <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"  formControlName="quickDescription"  ></textarea>
        </div>

         <h4 style="padding-top: 10px;">Özellikler</h4>
        <div class="form-floating mb-3">
            <!-- <ckeditor [editor]="Editor" [config]="editorConfig" formControlName="features" ></ckeditor> -->
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"  formControlName="features" ></textarea>
        </div>

    </form>
    <div *ngIf="isAdded==false" style="margin-top: 5%" class="d-grid gap-2 col-6 mx-auto">
        <button style="width: 80%; margin-left: 9%" type="button" (click)="add()" class="btn btn-success btn-lg">
            Ekle
        </button>
    </div>
    <div *ngIf="isAdded==true" >
        <button (click)="openModal('custom-modal-1');" style="width: 80%; margin-left: 9%"
        class="btn btn-primary btn-lg">Resim Ekle</button>
    </div>
</div>



<jw-modal id="custom-modal-1">
    <h1>A Custom Modal Window!</h1>
    <div>
        <form [formGroup]="imageAddForm">
            <div class="mb-3">
                <div class="form-group">
                    <label style="margin-left: 1px">Ürünün Resmini Seçiniz</label>
                    <div class="mb-3">
                        <select [(ngModel)]="productFilter" class="form-control" id="securityCameraSystemId"
                            formControlName="securityCameraSystemId" name="file">
                            <option *ngFor="let securityCameraSystem of securityCameraSystems"
                                [ngValue]="securityCameraSystem.securityCameraSystemId"
                                 selected="{{getSelectedProduct(securityCameraSystem.securityCameraSystemId)}}">
                                {{securityCameraSystem.securityCameraSystemId }} : {{ securityCameraSystem.cameraName }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <div class="form-group">
                    <div class="form-group">
                        <input type="file" (change)="uploadFile($event)" multiple/>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <button (click)="closeModal('custom-modal-1');">Kapat</button>
    <button (click)="submitForm()" class="btn btn-success btn-lg">Resim Ekle</button>
    <button  class="btn btn-info btn-lg" routerLink="/dashboard">Sonlandır</button>
</jw-modal>