
<div class="container" >
<button routerLink="/dashboard" type="button" style="width: 250px; height: 50px; font-size: 20px;"
 class="btn btn-outline-light"><h3 style="font-size: larger;">Başlangıç</h3></button>
 <button routerLink="users" type="button" style="width: 250px; height: 50px; font-size: 20px;"
 class="btn btn-outline-light"><h3 style="font-size: larger;">Kullanıcılar</h3></button>
 <button routerLink="settings" type="button" style="width: 250px; height: 50px; font-size: 20px;"
 class="btn btn-outline-light"><h3 class="fa fa-edit" style="font-size: larger;">Ayarlar</h3></button>
</div>